main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: safe;
  padding: 28px 22px;
  background-color: rgb(11,39,66);
  min-height: 90vh;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}

.background {
  position: absolute;
  bottom: -150px;
  left: 0;
  overflow: auto;
}

.firstSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
  color: rgb(237,237,237);
  margin: 0 2rem;
}

.secondSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  font-weight: 600;
  width: 50%;
}

span{
  margin-top: 150px;
  font-weight: bold;
  font-size: 3rem;
}
slot div {
  max-width: 50% ;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgb(237,237,237);
  margin: 0 2rem;
}

.login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bolder;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ededed;
  padding: 50px;
}

.brand p {
  color: rgb(33, 35, 37);
  max-width: 45vw;
  text-align: center;
}

.brand span {
  color: rgb(33, 35, 37);
  font-weight: bold;
  font-size: 1.5rem;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  padding: 50px;
}

.how-it-works h2 {
  color: rgb(11,39,66);
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.steps {
  display: grid;
  max-width: 80vw;
  margin-top: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 100px
}
.left {
  justify-self: flex-end;
}
.left-text {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: flex-end;
}
.left-text span {
  color:rgb(168, 170, 172);
  font-size: 1.5rem;
  font-weight: bolder;
}

.left-text h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(11,39,66);
  text-align: center;
}
.left-text p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  text-align: right;
  margin: 0;
}
.right {
  justify-self: flex-start;
}
.step-one-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding:25px 100px;
}
.step-one-card-title {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(11,39,66);
  text-align: center;
}
.button-house {
  background-color: transparent;
  border: 0px;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(56, 59, 61);
  text-transform: capitalize;
}

.images {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.action-container {
  padding: 10px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out  ;
}
.selected {
  transform: scale(1.1);
  filter: grayscale(0%);
}
.action-container:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}
.action-container button {
  pointer-events: none;
}

.images img {
  width: 10rem;
}

.steps-desciption {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}
.steps-desciption span {
  color:rgb(168, 170, 172);
  font-size: 1.5rem;
  font-weight: bolder;
}

.steps-desciption h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(11,39,66);
  text-align: center;
}

.steps-desciption p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgb(0, 0, 0);
}

.avatar-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background-color: #fff;
  padding: 50px;
}

.avatar-card header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.avatar-card header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.info h3 {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(11,39,66);
}
.info h4 {
  font-size: 1.2rem;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  text-align: left;
}
.chips {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.chips h4 {
  background-color: rgb(5, 31, 56);
  color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(168, 170, 172);
}
.social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.social div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out  ;
}
.social a{
  color: rgb(25, 21, 31);
  font-size: 1.5rem;
  font-weight: lighter;
  text-decoration: none;

}

.social div:hover{
  color: rgb(5, 31, 56);
  transform: scale(1.1);
}
.person {
  width: 100%;
}

