.image-section {
  background-color: #0c2742;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}